name: Tests

on: [push, pull_request]

jobs:
  tests:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
          # NOTE: I don't think we have a way to test SSE/AVX instructions
          # on old macos anymore...
          # - target: x86_64-apple-darwin
          #   os: macos-13
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Overriding rust version to project MSRV
        run: |
          echo Before override
          rustup --version
          rustup override set 1.81.0
          echo After override
          rustup --version
      - name: Tests
        run: |
          cargo run -q --example=instructions --target ${{ matrix.target }}
          cargo test --target ${{ matrix.target }}